<div id="container">
  <!-- Loader Section -->
  <div id="wrapper-loader-container" *ngIf="isUploading">
    <div id="loader_container" [class.dark-mode]="darkmod">
      <div id="loader_text">
        <div class="bold uptext" id="boldtext">Uploading,</div>
        <div>please wait..</div>
      </div>
      <div id="loader">
        <div class="blue-line"></div>
      </div>
    </div>
  </div>

  <!-- Drag-and-Drop Area, hidden when uploading -->
  <div
    id="drag-area-container"
    *ngIf="!isUploading"
    [class.dark-mode]="darkmod"
  >
    <div
      id="drag-area"
      class="drag-area"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
      [ngClass]="{ 'drag-over': isDragging, 'dark-mode': darkmod }"
      tabindex="0"
      role="button"
      aria-label="Zone de dépôt pour télécharger des fichiers"
    >
      <div class="icon">
        <img src="/assets/images/exit.svg" alt="Upload Icon" />
      </div>
      <span class="drag-header" id="drag-header-text">
        Drag & drop a file or
        <span class="drag-header">
          <span class="button" (click)="fileInput.click()">browse files</span>
        </span>
      </span>
      <span id="drag-support">JPG, PNG or GIF - Max file size 2MB</span>
      <input type="file" #fileInput (change)="onSelect($event)" hidden />
      <div *ngIf="errorMessage" class="warning">{{ errorMessage }}</div>
    </div>
  </div>
</div>
