#drag-area-container {
  /* display: none; */
}
.drag-area {
  height: 400px;
  border: 2px dashed #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#drag-area.drag-over {
  border-color: #4f46e5; /* Change border color when dragging over */
  background-color: #c2daf9;
}

.drag-header {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.button {
  font-weight: 600;
  color: #3662e3;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

#drag-support {
  padding-top: 10px;
  font-size: smaller;
  color: black;
}

.warning {
  color: red; /* Warning message color */
  margin-top: 10px; /* Space above the warning message */
  font-weight: bold; /* Make it bold for emphasis */
}

/* Dark Mode Styles */
#drag-area.dark-mode {
  border-color: #4d5562;
}
.drag-area.dark-mode.drag-header {
  color: #ffffff;
}
.dark-mode #drag-support {
  color: #f9fafbcc;
}
#drag-area.dark-mode.drag-over {
  border-color: #c2daf9; /* Change border color when dragging over */
  background-color: #4d5562;
}

/*test*/

#loader_container {
  height: 100px;
  display: grid;
  align-items: center;
  align-content: center;
}
#loader_text {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.uptext {
  padding-right: 5px;
}

#loader {
  width: 100%;
  max-width: 500px;
  justify-self: center;
  background: #e5e7eb;
  height: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#loader .blue-line {
  background: #3662e3;
  border-radius: 10px;
  position: absolute;
  left: 0;
  z-index: 1;
  width: 30%;
  height: 10px;
  animation: line-bounce 2s infinite linear;
}
/* Dark mode styles */
.dark-mode #loader {
  background: #4d5562;
}

.dark-mode #loader_text {
  color: #f9fafbcc;
}

.dark-mode #boldtext {
  color: #ffffff; /* Lighter blue color for dark mode */
}
/* Animation */
@keyframes line-bounce {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(500px);
  }
}
